@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-black: #1a1a1a;
  --color-primary: #3a3a3a;
  --color-secondary: #ced300;
  --color-tertiary: #fcfcf0;
  --color-sky: #cffaff;
  --color-btn-blue: #3197ec;
  --color-beige: #f9f9eb;
  --w-9xl: 1600px;
}

@layer utilities {
  .max-w-9xl {
    max-width: var(--w-9xl);
  }
}
